---
---

@import "{{ site.theme }}";

body {
    background-color: #0d1116;
    color: #fff;
}

.main-content code {
    color: darkslategrey;
    background-color: #1d2126;
}

.main-content pre {
    color: whitesmoke;
    background-color: #1d2126;
    border: #10111f;
    border-radius: 0;
}

