---
---

@import "{{ site.theme }}";

body {
    background-color: #0d1116;
    color: #fff;
}

.main-content code {
    color: #fff;
    background-color: #5A5A5A;
}

.main-content pre {
    color: whitesmoke;
    background-color: #1d2126;
    border: #0c0c0c;
}

.main-content pre > code {
    color: whitesmoke;
    background-color: #1d2126;
    border: #0c0c0c;
}

.main-content .highlight pre,
.main-content pre {
    border-radius: 0;
}


.highlight .nt {
    color: #33ffba;
}

.highlight .o {
    color: #33deff;
}

